/*
* ==========================================================
*     SIDEBAR
* ==========================================================
*/
nav#sidebar {
  height: 100%;
  background: var(--bs-light);
  color: #6a6c70;
  border-right: 1px solid #34373d;
  overflow-x: hidden;
  /* shrinked navbar */
}

nav#sidebar .sidebar-header {
  padding: 30px 20px;
}

nav#sidebar .sidebar-header h1,
nav#sidebar .sidebar-header p {
  margin-bottom: 0;
}

nav#sidebar .sidebar-header h1 {
  color: #8a8d93;
}

nav#sidebar .sidebar-header p {
  font-size: 0.9rem;
}

nav#sidebar ul {
  max-height: none;
}

nav#sidebar li {
  position: relative;
}

nav#sidebar li a {
  padding: 14px 20px;
  display: block;
  font-weight: 600;
}

nav#sidebar li a:hover {
  background: var(--bs-primary);
  color: var(--bs-light);
}

nav#sidebar li a:hover i {
  color: #f34159;
}

nav#sidebar li a i {
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 20px;
  /* border-right: 1px solid #454649; */
  font-size: 20px;  
  max-width: 40px;
  min-width: 40px;
}

nav#sidebar li::before {
  content: "";
  width: 2px;
  height: 100%;
  background: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

nav#sidebar li.active::before {
  background: #f34159;
}

nav#sidebar li.active > a {
  background: var(--bs-primary);
  color: var(--bs-light);
}

nav#sidebar li.active i {
  color: #f34159;
}

nav#sidebar li.active::before {
  background: #f34159;
}

nav#sidebar li.active > a {
  background:var(--bs-primary);
  color: var(--bs-light);
}

nav#sidebar li.active i {
  color: #f34159;
}

/*
  * shrink sidebar
  */
nav#sidebar.shrinked {
  width: 80px;
}

nav#sidebar.shrinked .sidebar-header {
  padding: 10px;
}

nav#sidebar.shrinked .sidebar-header .title {
  display: none;
}

nav#sidebar.shrinked ul {
  max-height: none;
}

nav#sidebar.shrinked ul a {
  padding: 14px 5px;
  display: block;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  word-break: break-word;
}

nav#sidebar.shrinked ul i {
  font-size: 1.2rem;
  text-align: center !important;
  width: 100%;
  display: block !important;
  border: none !important;
  padding: 0 !important;
}

/*
* ==========================================================
*     Dashboard
* ==========================================================
*/

.dashboard-board {
  background: var(--bs-light);
  overflow-y: hidden;
}

.dashboard-aggreated-detail-card {
  background: var(--bs-light);
  -webkit-box-shadow: 0px 0px 11px 2px rgba(209, 204, 204, 0.75);
  -moz-box-shadow: 0px 0px 11px 2px rgba(209, 204, 204, 0.75);
  box-shadow: 0px 0px 11px 2px rgba(209, 204, 204, 0.75);
}

.dashboard-card {
  background: var(--bs-light);
  -webkit-box-shadow: 0px 0px 11px 2px rgba(209, 204, 204, 0.75);
  -moz-box-shadow: 0px 0px 11px 2px rgba(209, 204, 204, 0.75);
  box-shadow: 0px 0px 11px 2px rgba(209, 204, 204, 0.75);
}

.dashboard-card-decor {
  background: var(--bs-light);
}

.show-widget-border {
  border-style: solid;
  border-width: 1px;
}

.hide-anchor-widget-border{
  border-style: solid;
  border-width: 0px !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(209, 204, 204, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(209, 204, 204, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(209, 204, 204, 0.75);
}


.investigated-analysis-card {
  background: var(--bs-light);
  -webkit-box-shadow: 2px 5px 3px 2px rgb(209 204 204 / 75%);
  -moz-box-shadow: 2px 5px 3px 2px rgba(209, 204, 204, 0.75);
  box-shadow: 2px 5px 3px 2px rgb(209 204 204 / 75%);
}

.investigated-analysis-graph-card {
  background: var(--bs-light);
  -webkit-box-shadow: 1px 1x 3px 2px rgb(209 204 204 / 75%);
  -moz-box-shadow: 1px 1px 3px 2px rgba(209, 204, 204, 0.75);
  box-shadow: 1px 1px 3px 2px rgb(209 204 204 / 75%);
}

::ng-deep .mat-horizontal-stepper-header-container{
  background: var(--bs-light);
}

::ng-deep .mat-horizontal-content-container {
  background: var(--bs-light);
}

/*
* ==========================================================
*     NGX-charts
* ==========================================================
*/
.ngx-charts text {
  fill: #000 !important;
}
/*
* ==========================================================
*     Main
* ==========================================================
*/
.app-list:hover {
  color: var(--bs-primary) !important;
}

.border-blue{
  border-color: #007bff !important
}

.page-content {
    position: relative;
    min-height: 100vh;
    /* width: calc(100% - 200px); */
    width: 100%;
    padding: 0;
    padding-bottom: 70px;
  }
  
  .page-content.active {
    width: 100%;
  }
  
  .page-header {
    padding: 20px 15px;
    /* background: #2d3035; */
    color: #8a8d93;
    margin-bottom: 15px;
}

.fa-border {
  border: solid 0.08em #000 !important;
}


/* guide style */
.shepherd-button{
  background:#3288e6;
  border:0;
  border-radius:3px;
  color:hsla(0,0%,100%,.75);
  cursor:pointer;
  margin-right:.5rem;
  padding:.5rem 1.5rem;
  transition:all .5s ease
}
.shepherd-button:not(:disabled):hover{
  background:#196fcc;
  color:hsla(0,0%,100%,.75)
}
.shepherd-button.shepherd-button-secondary{
  background:#f1f2f3;
  color:rgba(0,0,0,.75)
}
.shepherd-button.shepherd-button-secondary:not(:disabled):hover{
  background:#d6d9db;
  color:rgba(0,0,0,.75)
}
.shepherd-button:disabled{
  cursor:not-allowed
}
.shepherd-footer{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  display:flex;
  justify-content:flex-end;
  padding:0 .75rem .75rem
}
.shepherd-footer .shepherd-button:last-child{
  margin-right:0
}
.shepherd-cancel-icon{
  background:transparent;
  border:none;
  color:hsla(0,0%,50%,.75);
  cursor:pointer;
  font-size:2em;
  font-weight:400;
  margin:0;
  padding:0;
  transition:color .5s ease
}
.shepherd-cancel-icon:hover{
  color:rgba(0,0,0,.75)
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon{
  color:hsla(0,0%,50%,.75)
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover{
  color:rgba(0,0,0,.75)
}
.shepherd-title{
  color:rgba(0,0,0,.75);
  display:flex;
  flex:1 0 auto;
  font-size:1rem;
  font-weight:400;
  margin:0;
  padding:0
}
.shepherd-header{
  align-items:center;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  display:flex;
  justify-content:flex-end;
  line-height:2em;
  padding:.75rem .75rem 0
}
.shepherd-has-title .shepherd-content .shepherd-header{
  background:#e6e6e6;
  padding:1em
}
.shepherd-text{
  color:rgba(0,0,0,.75);
  font-size:1rem;
  line-height:1.3em;
  padding:.75em
}
.shepherd-text p{
  margin-top:0
}
.shepherd-text p:last-child{
  margin-bottom:0
}
.shepherd-content{
  border-radius:5px;
  outline:none;
  padding:0
}
.shepherd-element{
  background:#fff;
  border-radius:5px;
  box-shadow:0 1px 4px rgba(0,0,0,.2);
  max-width:400px;
  opacity:0;
  outline:none;
  transition:opacity .3s,visibility .3s;
  visibility:hidden;
  width:100%;
  z-index:9999
}
.shepherd-enabled.shepherd-element{
  opacity:1;
  visibility:visible
}
.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered){
  opacity:0;
  pointer-events:none;
  visibility:hidden
}
.shepherd-element,.shepherd-element *,.shepherd-element :after,.shepherd-element :before{
  box-sizing:border-box
}
.shepherd-arrow,.shepherd-arrow:before{
  height:16px;
  position:absolute;
  width:16px;
  z-index:-1
}
.shepherd-arrow:before{
  background:#fff;
  content:"";
  transform:rotate(45deg)
}
.shepherd-element[data-popper-placement^=top]>.shepherd-arrow{
  bottom:-8px
}
.shepherd-element[data-popper-placement^=bottom]>.shepherd-arrow{
  top:-8px
}
.shepherd-element[data-popper-placement^=left]>.shepherd-arrow{
  right:-8px
}
.shepherd-element[data-popper-placement^=right]>.shepherd-arrow{
  left:-8px
}
.shepherd-element.shepherd-centered>.shepherd-arrow{
  opacity:0
}
.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before{
  background-color:#e6e6e6
}
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,.shepherd-target-click-disabled.shepherd-enabled.shepherd-target *{
  pointer-events:none
}
.shepherd-modal-overlay-container{
  height:0;
  left:0;
  opacity:0;
  overflow:hidden;
  pointer-events:none;
  position:fixed;
  top:0;
  transition:all .3s ease-out,height 0ms .3s,opacity .3s 0ms;
  width:100vw;
  z-index:9997
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible{
  height:100vh;
  opacity:.5;
  transform:translateZ(0);
  transition:all .3s ease-out,height 0s 0s,opacity .3s 0s
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible path{
  pointer-events:all
}

/* status summary */
.white-font {
  color: #fff !important
}

/*
* ==========================================================
*     test-explorer
* ==========================================================
*/

.test-explorer {
  background: var(--bs-light);
}

.test-explorer-detail {
  overflow-y: hidden;
}

.step-description {
  color: #939ba2;
}

.customize_attributes {
  color:#c2c6c9 !important
}

.customize_attributes span:hover {
  color: #da1e40;
}
